html {
    font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

body {
    /* width: 1200px; */
    line-height: 1.4285;
    color: rgb(51, 51, 51);
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px auto;
}

*{
    margin:  0px auto;
}

.bc-white {
    background-color: #fff !important;
    z-index: 1000;
}

.active {
    opacity: 1;
    text-decoration: underline;
}

/*header */
#header {
    margin-top: 0px;
    /* padding-top: 10px; */
    position: relative;
    
}

#header .logo {
    float: left;
    margin: 0px;
}

#header .up {
    display: flex;
    padding: 10px 40px;
}

#header .search {
    display: flex;
}

#header input[type="text"] {
    width: 500px;
    padding: 8px;
    border: 1px solid rgb(153, 153, 153);
    appearance: none;
    font-size: 16px;
    outline: none;
    border-radius: 4px 0px 0px 4px;
    margin: 20px 0px 20px 0px;
}

#header .search-button {
    width: 94px;
    height: 37px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 20px 0;
    border: 1px solid rgb(153, 153, 153);
    border-left: 0;
    background-color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
}

#header .search-button .button-text {
    margin-bottom: 8px;
    color: rgb(48, 59, 65);
    font-family: 'Nunito Sans',Arial;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 12px;
    padding-left: 6px;
    font-size: 12px;
    text-transform: uppercase;
}

#header .search-button .button-icon {
    margin-left: 0px;
    vertical-align: middle;
}

#header .search-button:hover {
    background-color: #ccc;
}

#header .list ul {
    display: flex;
    border-top: solid 1px rgb(73, 73, 73);
    border-bottom: solid 1px rgb(73, 73, 73);
}

#header .icon {
    margin: 20px 0px 20px 0px;
}

#header .icon a {
    padding: 10px;
}

#header .list li {
    opacity: 0.8;
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
}

#header .list {
    background-color: #ccc;
    display: block;
}


#header .list li:hover {
    opacity: 1;
    text-decoration: underline;
}

#header li:hover .subnav{
    display: block !important;
}

#header .nav-arrow-down{
    font-weight: 900;
    opacity: 1;
}

#header .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}
#header .subnav{
    z-index: 1000000000;
    display: none !important;
    min-width: 120px;
    top: 100%;
    position: absolute;
    background-color: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type: none;
    padding: 0px 20px;
}


/*Big Topic */
* {box-sizing:border-box}

#slideshow-container {
    max-width: 100%;
    position: relative;
    margin: unset;
}

#slideshow-container .mySlides {
    display: none;
}

#slideshow-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ffffff !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

#slideshow-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#slideshow-container .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

#utilities .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

#utilities .active, .dot:hover {
    background-color: #717171;
}

#slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/* Related products */
#related-products {
    width: 1200px;
    margin-top: 0px;
    text-align: center;
}


#related-products .product-content {
    color: #000;
    font-size: 20px;
    font-weight: 550;
    justify-content: space-evenly;
}

#related-products .version {
    background-color: #ccc;
    padding: 20px;
    display: flex;
    width: 101%;
}

#related-products .product-content a:hover {
    text-decoration: underline;
}

/* event */
#event{
    /* background-color: #6ac0ee; */
    width: 1200px;
    /* height: 500px; */
    text-align: center;
    margin: 0px auto;
    animation: modalFaceIn ease 1s;
}
#event .event-content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#event > h1 {
    padding: 25px 0 20px 0;
}

#event figcaption {
    padding: 15px;
}

#chri {
    text-align: center;
    float: left;
}

#new{
    text-align: center;
    float: right;
} 

#event .event-content a:hover {
    text-decoration: underline;
}


/* brand */
#brand {
    width: 1200px;
    margin: 0px auto;
    /* background-color: rgb(198, 234, 255); */
    background-color: rgb(197, 193, 193); 
    text-align: center;    
}
#brand .brand-name{
    padding: 20px 20px 10px 20px;
    animation: modalFaceIn ease 1s;
}

#brand .brand-product{
    width: 97.5%;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 30px 0px;
}  

#brand .product-representative {
    flex-basis: 30%;
    display: block;
    animation: modalFaceIn ease 1s;
}
#brand .product-representative:hover {
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    animation: modalFaceIn ease 1s;
    text-decoration: underline;
}


#brand .representative-content {
    margin: 10px 0;
    font-size: 95%;
    justify-content: center;
    animation: modalFaceIn ease 1s;
}


a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a {
    text-decoration:none;
    color: #000 !important;
}

@keyframes modalFaceIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* now trending */ 
#now-trending {
    text-align: center;
    background-color: #ccc;
    width: 1200px;
}

#now-trending .one{
    margin: 5px;
    width: 20%;
    display: block;
}

#now-trending .version {
    padding: 15px 15px 20px 15px;
    overflow-x: hidden;
    position: relative;
    display: flex;
}

#now-trending .version .removeOne{
    display: none;
}

#now-trending h1{
    padding-top: 15px;
}

#now-trending .btn-left-right {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    width: 1170px;
}

#now-trending .btn-left-right i {
    color: #fff;
    font-size: 32px;
    height: 50px;
    width: 25px;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px;
    border: none;
}

#now-trending .btn-left-right i:hover {
    background-color: #c7c7c7;
    color: #000;
}

/*Trending item*/
.wrapper-items .content{
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.wrapper-items .content  h1{
    text-align: center;
    font-size: 2rem;
}

.wrapper-items .products{
    display: flex;
    justify-content: space-evenly;
}

.wrapper-items .product-item{
    width: 19%;
    padding: 12px;
    margin: 0 10px 0 10 px !important;
}

.wrapper-items .product-item:hover img{
    transform: translateY(-10px);
    transition: all 0.6s ease ;
    cursor: pointer;
}

.wrapper-items .product-item > img{
    width: 100%;

}

.wrapper-items .product-item-text{
    padding-top: 20px;

}

.wrapper-items .product-item-text ul{
    list-style: none;
}

.wrapper-items .product-item-text li{
    margin-bottom: 6px;
}

.wrapper-items .product-item-text li i{
    color: #FFD700;
}

.wrapper-items .product-item-text li:nth-child(2) a{
    text-decoration: line-through;
    color: #000000;
    font-size: 12px;
}

.wrapper-items .product-item-text li:first-child:hover{
    text-decoration-line: underline;
}

.wrapper-items .product-item-text li:nth-child(2) span{
    font-weight: bold;
}
.wrapper-items .slider-product-one-content-container{
    position: relative;
    overflow: hidden;
}

.wrapper-items .slider-product-one-content-btn{
    position: absolute;
    top: 33%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.wrapper-items .slider-product-one-content-btn i{
    color: #333333;
    font-size: 32px;
    height: 50px;
    width: 25px;
    /* background-color: rgb(233, 233, 233); */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0px;
}

.wrapper-items .slider-product-one-content-btn i:hover {
    background-color: #c7c7c7;
}

.wrapper-items .slider-product-one-content-items-container{
    position: relative;
    height: 420px;
    transition: all 0.3 ease;
}

.wrapper-items .products{
    position: absolute;
}

.wrapper-items .products:nth-child(2) {
    transform: translateX(100%);
}

.wrapper-items .products:nth-child(3) {
    transform: translateX(200%);
}

/* goods */ 
#goods {
    width: 1200px;
    text-align: center;
    margin-bottom: 30px;
}

#goods h1 {
    font-size: 30px;
}

#goods > a {
    margin-bottom: 10px;
    color: rgb(114, 111, 111) !important;
    text-decoration: underline;
}

#goods > a:hover {
    color: #000 !important;
}

#goods .goods-product {
    display: flex;
}

#goods .goods-product img {
    border-radius: 100%;
}

#goods .goods-container {
    margin: 13px;
}

#goods .content {
    box-sizing: inherit;
}

#goods .goods-container a:hover{
    text-decoration: underline;
}


/* drag-wrapper*/
#drag-wrapper {
    position: fixed;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1000000000;
    top: 75%;
    right: 0.5%;
}

#drag-wrapper .drag-wrapper-icon {
    float: right;
    margin: 0;
    cursor: pointer;
}

#drag-wrapper .drag-wrapper-icon a {
    max-width: 100%;
    height: auto;

}
#drag-wrapper .drag-wrapper-icon a:hover {
    animation: potUp 0.6;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    /* border-radius: 100px; */

}


/*footer */

/* #footer {
    height: 1000px;
    color: #fff;
} */

#footer .logo-brand {
    background-color: #ccc; 
    padding: 20px;
    margin: 0 auto;
}

#footer .logo-brand > a {
    margin-left: 70px;
}

#footer .footer-content {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(179, 179, 179);
    padding: 20px;
    line-height: 2;
}

#footer .footer-content h4 {
    color: #000;
    margin-left: 40px;
}

#footer .logo-social-payments h3 {
    color: #000;
}

#footer li:hover {
    text-decoration: underline;
}

#footer .follow-icon > img {
    margin-right: 10px;
    opacity: 0.8;
}

#footer .logo-brand img:hover,
#footer .logo-smartStore img:hover,
#footer .follow-icon > img:hover {
    animation: potUp  0.5s;
    opacity: 1;
}


@keyframes potUp {
    from{
        opacity: 0;
        transform: translateY(px);
    }
    to{
        opacity: 1;
        transform: translateY(-5px);
    }
}





/* Contact Us */
#contact-Us .contactUs{
    display: flex;
    width: 1200px;
    height: 480px;
    margin: 0px auto;
}

#contact-Us > h1 {
    text-align: center;
    color: rgb(73, 72, 72);
    padding: 20px;
}

#contact-Us .contactUs-content {
    width: 600px;
    height: 450px;
    background-color: rgb(185, 169, 169);
    line-height: 2;
}


#contact-Us .contactUs-content  h4 {
    color: rgb(65, 63, 63);
    margin: 0 0 15px 30px;
    font-weight: 700;
    font-size: 18px;
}

#contact-Us .content {
    margin: 5px 40px;
}

#contact-Us .content img {
    margin-bottom: 0px;
}

#contact-Us .contactUs-content span {
    color: rgb(59, 58, 58);
    font-size: 15px;
    padding-bottom: 0px;
}

.m-130-0-130-20 {
    margin: 130px 0 130px 20px;  
}

#contact-Us .contactUs-content a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}
